
body {
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2em;
    margin: 0;
}

canvas {
    background: white;
    width: 33%;
    height: 100%;
    min-height: 500px;
}